* { 
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
}

.header{
    text-align:right;
    height: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

.menu-bar li a{
    color:white;
    padding-left: 3%;
}

.menu-bar li a:hover{
    color: #1d70b7;
    text-decoration: none;
}

.header{
    background-color: #FF9900;
    /*background-color: inherit;*/
}

.header img{
    height: 100px;
}

.header div ul{
    height:100%;
    padding-right:21%;
    color:red;
}

.menu-bar{
    padding-top: 20px
}

.menu-div{
    padding-top:3%;
}

.menu-bar, .menu-bar li{
    display: inline;
}

.message{
    height: 180px;
}

.message img{
    float:left;
}

.message div h4{
    margin-top: 7%;
}

.message div p{
    margin-top: 3%;
}

#logo{
    float:left;
}

.hamburger{
    float:right;
    line-height: 60px;
    font-size: 24px;
}

@media (max-width: 767px){
    .menu-bar, .menu-bar li{
        display: block;
    }
    
    .menu-bar{
        padding-left: 60px;
    }
}

.slider{
    position: relative;
    min-height: 250px;
    color: white;
}

.slider h2{
    font-size: 24px;
}

.slider h3{
    font-size: 18px;
}

.slider .text{
    min-height: 38px;
    font-weight: 900;
}

.slider .title{
    font-weight: 100;
}

.claim{
    padding-left: 18px;
    max-width:40%;
    position:relative
}

.claim h2{
    margin-bottom: 30px;
}

.claim h3{
    margin-bottom: 40px;
}

.slider-button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 16px;
    font-weight: bold;
}

@media(min-width: 768px){
    .claim{
        padding-left: 50px;
        margin-top: 100px;
    }
}

.youtube-video{
    padding: 0;
}

.filosofia{
    padding-top:30px;
    background-image: url(images/coneix_fons-09.png);
    background-size: cover;
    padding-bottom: 80px;
}

.filosofia img{
    max-width: 100%;
}

.filosofia .title{
    text-align: center;
}

.on-ens-reunim{
    min-height: 100px;
    text-align: center;
    background-image: url(images/onensreunim_fons-10.png);
    background-size: cover;
    color: white;
}

.que-hem-fet{
    min-height: 100px;
    text-align: center;
    background-image: url(images/banda_lila-14-02-03.png);
    background-size: cover;
    color: white;
}

.consulta-encarrecs{
    min-height: 100px;
    text-align: center;
    background-image: url(images/banda_vermella-14-02.png);
    background-size: cover;
    color: white;
}

.activitats{
    min-height: 100px;
    text-align: center;
    background-image: url(images/banda_blava_3-03-03.png);
    background-size: cover;
    color: white;
}

.activitats-title{
    text-align: center;
    padding-top:5%;
    color:#1D70B7;
}

.data-interaction{
    min-height: 600px;
    background-color: #FFDF85;
}

.encarrecs{
    height:450px;    
}

.section-row h1{
    line-height: 100px;
}

.mapa{
    padding: 0;
    height: 500px;
}

.mapa iframe{
    height: 500px;
}

@media(max-width: 767px){
    .mapa, .mapa iframe{
        height: 200px;
    }
}

.footer{
    padding-top: 50px;
    background-color: #ececeb;
    color:#990066;
    line-height: 65%;
}

.sant-feliu img{
    width: 150px;
}

.sant-feliu{
    text-align: center;
}

.glyphicon-menu-left{
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 18px;
}

.glyphicon-menu-left:hover, .glyphicon-menu-right:hover{
    cursor: pointer;
    color: #1d70b7;
}

.glyphicon-menu-right{
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 18px;
}

.numero-vegadas{
    position: absolute;
    bottom: 10%;
    left: 10%;
    width:50%;
}

.filer-any{
    position: absolute;
    top: 10%;
    right: 10%;
    color:#1d70b7;
}

.activitats-legend{
    position: absolute;
    top: 10%;
    left: 10%;
    line-height: 60%;
    width:50%;
}

.activitats-legend p{
    margin-left: 5%;
    margin-top:1px;
}

.next-slide, .slide{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-size: 60%;
    background-repeat: no-repeat;
    background-image: url(images/slideshow/slideshow-1.png);
    background-position-y: 100%;
    background-position-x: 72%;
}

.activitats-legend-png{
    float:left;
    width:15px;
}

.activitats-image{
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-size: 40%;
    background-repeat: no-repeat;
    background-image: url(images/activitats/activitats-1.png);
    background-position-y: 10%;
    background-position-x: 50%;
}

.logo2{
    max-height: 11%; 
    max-width: 11%; 
    padding-top:3%;
}

.message-text{
    padding-left:25%;
}

.slide{
    opacity: 1;
    background-color: #FF9900;
}

.content{
    padding-left: 15%;
    padding-right: 15%;
}

.top-slider{
    padding-left: 15%;
}

hr{
    margin-top:2%;
    border-color:#990066;
}

.credits{
    padding-top: 1%;
    padding-bottom: 8%;
}

.footer-sections{
    padding-bottom:5%;
}

.copyright{
    float:left;
}

.disenny{
    float:right;
}

.footer-sections div div a{
    color:inherit;
}