html, body { height: 100%;  margin: 0; }

#top {
	@background-color: #1D70B7;
	color:white;
}

nav ul li a {
	color:white;
}

#myCarousel{
	height:400px;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}

* {	
 font-size: 100%;
 font-family: 'Nunito', sans-serif;
}

@media (min-width: 1200px)
.container{
	width: 100%;
}

.slideshow .text-feliu {
	z-index: 10;
	width: 80%;
    height: 80%;
	position:absolute;
	top: 30%;
    left: 50px;
    padding-left: 15%
}

.slideshow .text-fixed {
	color:white;
	width: 28%;
	font-weight:normal !important;
}

.slideshow .text-change {
	color:white;
	width: 31%;
}

.slideshow .text-button {
	border-left:10%;
	border-right:10%;
    border-radius: 25px;
	color:#F19004;
	bottom:25%;
	position:absolute;
	background-color:white;
	padding-left:3%;
	padding-right:3%;
}

.slideshow .text-button a {
	color: inherit;
}

#slide {
	-webkit-transition: background-image 1s ease-in-out;
	transition: background-image 1s ease-in-out;
}

img {
	max-width: 100%;
}

#navbar-top {
	width:100%;a
	height:100%;
}

.navbar{
	/*height: 117px;*/
	position:absolute;
	top:0px;
	right:0px;
	/*margin-bottom: 0px;*/
}

.bs-navbar-collapse{
	font-size: 135%;
	vertical-align: middle;
	height: 117px;
  	padding-top: 30px;

}

#slider {
	background-color: #AA1258;
	width: 100%;
	height:400px;
	/*background-image:url("images/bustia_consell-11.png");*/
}

#message {
	width: 100%;
	height:20%;
	background-color:#F2F2F2;
}

#message h4{
  	height: 30%;
  	padding-top:4%;
	vertical-align: middle;
}

#message p {
	text-align:left;
	font-size:12px;
	padding-top:2%;
}

#coneix {
	background-image:url("images/coneix_fons-09.png");
	color:#1D70B6;
	height: 800px;
	width: 100%;
  	padding-left: 9%;
  	padding-right: 9%;"
}

#coneix div p{
	padding-top:15px;
}

#onesreunim{
	background-image:url("images/onensreunim_fons-10.png");
	width:100%;
	height:130px;
	padding-top:20px;
	padding-bottom:20px
}

#logo{
	position: absolute;
	left: 0;
	top: 0;
}

#mapa{
	width:100%;
	height:70%;
}


.menu>li>a:hover {
	background-color:transparent;
}

.move {
	padding-left:1%;
}

.move2 {
	right:0;
	padding-right:1%;
	
}

.button-slider {
	position:absolute;
	top:50%;
	font-size: 30px;
	color:white;
	cursor:pointer;
}

.button-slider:hover { 
    color:#1D70B7;
}

.mapb {
	padding-left:0px;
	padding-right:0px;
}


#map {width:100%; height:100%;}